/*The css file*/

/*The root font*/

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font: 20px Montserrat, sans-serif;
  /*Font taken from https://fonts.googleapis.com/css?family=Montserrat*/
  color: #687b8b;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}
/**************************************************************
 *          HEADER                                            *
 **************************************************************/

.container {
  display: flex;
  flex-direction: column;
  margin: 0vw 3vw;
}
.parallax {
  /*The parallax effect*/
  
    background-image: url("bg.png");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
}

/**************************************************************
 *          SKILLS & PROJECTS                                 *
 **************************************************************/

.skills, .projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.skills-Row, .projects_Row {
  align-items: center;
}

.skills img, .projects img {
  padding: 10px;
  width: 150px;
  height: auto;
}

/* hover effect (blue shadow) */
 .sklills img:hover, .projects img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/**************************************************************
 *          ABOUT SECTION                                     *
 **************************************************************/

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageAmit {
  border: 1px solid #35eea4;
  border-radius: 5px;
  box-shadow: 0px 3px 20px 2px #2c2c2c;
  width: 25vw;
}

.page-heading {
  font-size: 1em;
  font-weight: bold;
}
.special-font{
  color: #F0C133;
  font-size: 2rem;
 font-family: 'Quicksand', sans-serif;
 font-weight: bold;
}

section p {
  text-align: center;
}
/**************************************************************
 *          CONTACT FORM                                      *
 **************************************************************/

input[type=text],
textarea {
  font-size: 1rem;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

button[type=submit] {
  background-color: #F0C135;
  font-size: 1rem;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
}

button[type=submit]:hover {
  background-color: #edb212;
}

/**************************************************************
 *          FOOTER                                            *
 **************************************************************/

.footer-class {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #687B8B;
  color: white;
  text-align: center;
}

/**************************************************************
 *          MEDIA QUERY                                       *
 **************************************************************/

/*
 *When 'screen' size is less than or equal to 725px then...
 */
@media only screen and (max-width: 725px) {

  .skills .desc, .projects .desc{
  	display: none;
  }
  .projects, .skills { 
    width: 100%;
  }
  .skills, .projects {
    width: 100%;
    flex-direction: column;   /*'skills' will be shown in column format*/
    margin: 6px 0;
    align-items: center;
  }
  .imageAmit {
    width: 60vw;
  }
  .col-25,
  .col-75,
  button[type=submit] {     /*'submit' button of 'contact form' will occupy full width*/
    width: 100%;
    margin-top: 0;
  }
}
